:root {
  --color-primary: #008b8b;
  --color-secondary: #ffe3c3;
  --color-white: #ffffff;
  --color-gray: #d9d9d9;
  --color-gray-dark: #363740;
  --color-black: #1f1f26;

  --font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: var(--color-primary);
}

.navbar-brand {
  text-decoration: none;
  color: var(--color-white);
  font-family: "Holtwood One SC", serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  margin-right: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
