@use "../abstracts/" as *;

.about-section {
  background-color: $color-secondary;
  @extend %padding-section;

  &__title {
    @include font-styles(
      $size: map-get($font-sizes, xl),
      $weight: map-get($font-weight, "semi-bold"),
      $color: $color-black
    ) {
      text-align: center;
      margin-bottom: map-get($espaciados, xxl);
    }

    @include respond-to($breakpoint: medium) {
      @include font-styles(
        $size: map-get($font-sizes, xxl),
        $weight: map-get($font-weight, "regular"),
        $color: $color-black,
        $letter-spacing: map-get($letter-spacings, sm)
      ) {
        margin-bottom: map-get($espaciados, xxxl);
      }
    }
  }

  &__text {
    @include font-styles(
      $size: map-get($font-sizes, base),
      $weight: map-get($font-weight, "regular"),
      $color: $color-gray-dark,
      $letter-spacing: map-get($letter-spacings, lg),
      $type-wrap: pretty
    ) {
      max-width: 44.75rem;
      margin: $align-center;
    }

    @include respond-to($breakpoint: large) {
      max-width: 67.625rem;
    }
  }
}
