@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* maps */
.navbar__brand, .footer__brand {
  text-decoration: none;
  color: #ffffff;
  font-family: "Holtwood One SC", serif;
  font-size: 1.375rem;
  font-weight: 400;
  font-style: normal;
}

.main__section, .footer, .gallery-section, .about-section {
  padding: 4rem 1.5rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-grow: 0;
}

.about-section {
  background-color: #ffe3c3;
}
.about-section__title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5625rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0;
  color: #1f1f26;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about-section__title {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1875rem;
    text-transform: none;
    text-wrap: wrap;
    line-height: 1.3125rem;
    letter-spacing: 0.015625rem;
    color: #1f1f26;
    text-decoration: none;
    margin-bottom: 4rem;
  }
}
.about-section__text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-transform: none;
  text-wrap: pretty;
  line-height: 1.3125rem;
  letter-spacing: 0.03125rem;
  color: #363740;
  text-decoration: none;
  max-width: 44.75rem;
  margin: 0 auto;
}
@media screen and (min-width: 1130px) {
  .about-section__text {
    max-width: 67.625rem;
  }
}

.card {
  border-radius: 0.25rem;
  padding: 1rem;
  position: relative;
}
.card--category {
  max-width: 21.875rem;
  border: 1px solid #d9d9d9;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.1);
}
.card--product {
  max-width: 17rem;
  border: none;
  box-shadow: none;
}
.card__frame {
  width: 100%;
  border-radius: 0.25rem;
  aspect-ratio: 16/9;
}
.card__img {
  border-radius: 0.25rem;
}
.card__body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  flex-grow: 0;
  padding-top: 1rem;
}
.card__title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3125rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.009375rem;
  color: #363740;
  text-decoration: none;
}
.card__badge {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0;
  color: #1f1f26;
  text-decoration: none;
  background-color: rgb(255, 153, 0);
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.card__text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-transform: none;
  text-wrap: pretty;
  line-height: 1.3125rem;
  letter-spacing: 0.03125rem;
  color: #363740;
  text-decoration: none;
}
.card__text--price {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.375rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.03125rem;
  color: #1f1f26;
  text-decoration: none;
}
.card__btn {
  background-color: #008b8b;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.078125rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 1130px) {
  .card__btn {
    opacity: 0.8;
    transition: all 0.4s;
  }
}
@media screen and (min-width: 1130px) {
  .card__btn:hover {
    opacity: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
  flex-grow: 0;
}
.form__section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-grow: 0;
}
.form__label {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.03125rem;
  color: #363740;
  text-decoration: none;
}
.form__input {
  border: 1px solid #d9d9d9;
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.03125rem;
  color: #363740;
  text-decoration: none;
}
.form__btn {
  background-color: #008b8b;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.078125rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 1130px) {
  .form__btn {
    opacity: 0.8;
    transition: all 0.4s;
  }
}
@media screen and (min-width: 1130px) {
  .form__btn:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 1130px) {
  .gallery-section {
    padding-inline: 0;
  }
}
.gallery-section__title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5625rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0;
  color: #1f1f26;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .gallery-section__title {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1875rem;
    text-transform: none;
    text-wrap: wrap;
    line-height: 1.3125rem;
    letter-spacing: 0.015625rem;
    color: #1f1f26;
    text-decoration: none;
    margin-bottom: 4rem;
  }
}
.gallery-section__list-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .gallery-section__list-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-grow: 0;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #1f1f26;
  text-align: center;
}
.footer__caption {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.025rem;
  color: #d9d9d9;
  text-decoration: none;
  margin-top: 0.5rem;
}

.header {
  background-color: #008b8b;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-grow: 1;
}
.main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-grow: 1;
}
.main__section {
  width: 100%;
  max-width: 37.5rem;
}
.main__title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5625rem;
  text-transform: none;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0;
  color: #1f1f26;
  text-decoration: none;
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main__title {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1875rem;
    text-transform: none;
    text-wrap: wrap;
    line-height: 1.3125rem;
    letter-spacing: 0.015625rem;
    color: #1f1f26;
    text-decoration: none;
    margin-bottom: 4rem;
  }
}

.navbar__container {
  padding: 1rem 1.5rem;
  max-height: 4rem;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .navbar__container {
    height: 4.1875rem;
    max-height: 4.1875rem;
    align-items: center;
  }
}
.navbar__label-checkbox {
  font-size: 2.1875rem;
  color: #d9d9d9;
  margin-left: auto;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .navbar__label-checkbox {
    display: none;
  }
}
.navbar__checkbox {
  appearance: none;
}
@media screen and (min-width: 768px) {
  .navbar__checkbox {
    display: none;
  }
}
.navbar__menu {
  width: 100%;
  margin-top: 1rem;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .navbar__menu {
    width: auto;
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    flex-grow: 0;
  }
}
.navbar__container:has(.navbar__checkbox:checked) {
  max-height: 14.25rem;
}
.navbar__item {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .navbar__item {
    padding: 0 1rem;
  }
}
.navbar__link {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
  text-wrap: wrap;
  line-height: 1.3125rem;
  letter-spacing: 0.03125rem;
  color: #d9d9d9;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .navbar__link {
    opacity: 0.8;
  }
}
@media screen and (min-width: 768px) {
  .navbar__link:hover {
    opacity: 1;
  }
}
.navbar__link--active {
  color: #ffffff;
  font-weight: 600;
}
.navbar__button-open {
  display: none;
}
.navbar__checkbox:checked + .navbar__label-checkbox .navbar__button-closed {
  display: none;
}
.navbar__checkbox:checked + .navbar__label-checkbox .navbar__button-open {
  display: block;
}

/*# sourceMappingURL=main.css.map */
