@use "../abstracts/" as *;

.footer {
  background-color: $color-black;
  text-align: center;
  @extend %padding-section;

  &__brand {
    @extend %font-brand;
  }

  &__caption {
    @include font-styles(
      $size: map-get($font-sizes, xs),
      $weight: map-get($font-weight, "regular"),
      $color: $color-gray,
      $letter-spacing: map-get($letter-spacings, md)
    ) {
      margin-top: map-get($espaciados, m);
    }
  }

  &__container {
    position: relative;
  }
  &__social-media {
    @include flexbox(
      $direction: row,
      $justify: center,
      $gap: map-get($espaciados, l)
    );

    margin-top: map-get($espaciados, l);

    @include respond-to($breakpoint: medium) {
      @include flexbox($direction: column, $gap: map-get($espaciados, l));
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: map-get($espaciados, xxl);
    }
  }
}
