@use "../abstracts/" as *;

.gallery-section {
  @extend %padding-section;

  &__title {
    @include font-styles(
      $size: map-get($font-sizes, xl),
      $weight: map-get($font-weight, "semi-bold"),
      $color: $color-black
    ) {
      text-align: center;
      margin-bottom: map-get($espaciados, xxl);
    }

    @include respond-to($breakpoint: medium) {
      @include font-styles(
        $size: map-get($font-sizes, xxl),
        $weight: map-get($font-weight, "regular"),
        $color: $color-black,
        $letter-spacing: map-get($letter-spacings, sm)
      ) {
        margin-bottom: map-get($espaciados, xxxl);
      }
    }
  }

  &__list-cards {
    @include flexbox(
      $direction: column,
      $wrap: wrap,
      $align: center,
      $gap: map-get($espaciados, l)
    );

    @include respond-to($breakpoint: medium) {
      @include flexbox(
        $direction: row,
        $wrap: wrap,
        $justify: center,
        $align: center,
        $gap: map-get($espaciados, l)
      );
    }
  }
}
